#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config NETUTILS_CMUX
	bool "Cmux tool"
	default n
	---help---
		Enable the cmux tool.

if NETUTILS_CMUX

endif # NETUTILS_CMUX
