#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_MBEDTLS_CLIENT
	tristate "mbedtls client example"
	default n
	---help---
		Enable the mbedtls example

if EXAMPLES_MBEDTLS_CLIENT

config EXAMPLES_MBEDTLS_CLIENT_PROGNAME
	string "Program name"
	default "mbedtls"
	---help---
		This is the name of the program that will be used when the NSH ELF
		program is installed.

config EXAMPLES_MBEDTLS_CLIENT_PRIORITY
	int "mbedtls task priority"
	default 100

config EXAMPLES_MBEDTLS_CLIENT_STACKSIZE
	int "mbedtls stack size"
	default DEFAULT_TASK_STACKSIZE

endif
